GPG_SIGS=0x036A9C25BF357DD4

GOSU_VERSION=1.12
GOSU_ARCHITECTURES=amd64 arm64 armhf

GOSU_URL_DL=https://github.com/tianon/gosu/releases/download/__GOSU_VERSION__/gosu-__GOSU_ARCHITECTURE__
GOSU_ASC_DL=https://github.com/tianon/gosu/releases/download/__GOSU_VERSION__/gosu-__GOSU_ARCHITECTURE__.asc
